page-home {

}


.inputStoF:focus {
  border-bottom:solid black 1px !important
}

.inputStoF {
  border: none;
  padding: 5px;
  border-bottom: solid white 1px;
  background-color:#28A1D8
}

.heading {
  margin-top:50px;
  font-size: 150%
}

.radioList {
  margin-top:25px
}

.radioItem {
  background-color: #28A1D8 !important;
  color: white;
}

#flashCard {
  background-color:#046B97;
  text-align:center;
  border-radius:15px;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.whiteText {
  color: white !important;
}

.scroll-content {
    overflow-y: hidden;
}
