page-card {

}



#flashCard {
  background-color:#046B97;
  text-align:center;
  border-radius:15px;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.whiteText {
  color: white !important;
}

.scroll-content {
    overflow-y: hidden;
}
